<%- include('partials/header.ejs') %>
    <%- include('partials/sidebar.ejs') %>
    <div class="container-fluid min-vh-100 d-flex flex-column">
        <div class="col-12 d-flex flex-column custom-forms bgcolor-light p-3 d-flex flex-column flex-grow-1">
            <h1 class="display-6 text-body-emphasis">Your Tiny Blogs Posts</h1>
                <ul class="list-group">
                  <% posts.forEach(function(post) { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center custom-li">
                        <a href="/posts/<%= post.id %>" class="text-decoration-none">
                            <span><%= post.title %></span>
                          </a>
                      <div>
                        <a href="/editPost/<%= post.id %>" class="btn btn-sm btn-outline-primary me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                              </svg>
                        </a>
                        <form action="/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="d-inline">
                          <button type="submit" class="btn btn-sm btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 5h4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5H6a.5.5 0 0 1-.5-.5v-7zM4.118 4a1 1 0 0 1 .876-.5h6.012a1 1 0 0 1 .876.5H14.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1h1.618zM4.5 3a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1H4.5z"/>
                            </svg>
                          </button>
                        </form>
                      </div>
                    </li>
                  <% }); %>
                </ul>
              
      </div>
        <%- include('partials/footer.ejs') %>
